.btn {
  color: white;
  background-color: #6c6aa2;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14pt;
  width: 100%;
  padding: 1rem 0;
  margin: 0 0.3em 0.3em 0;
  cursor: pointer;
  &:disabled {
    background-color: #7a83b0;
    cursor: default;
  }
}
